<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('../partials/head') %>
  <title>Home</title>
</head>

<body>
  <header>
    <%- include('../partials/header') %>
  </header>
  <main>

    <section class="articles-section">
      <% if(user) { %>
        <section class="add-article">
          <a href="/Add-Article" class="add"><img src="https://img.icons8.com/dusk/64/000000/add-property.png"/> Add an article.</a>
        </section>
        <% } %>
      <ul>

        <% articles.forEach((article) => { %>
          <li class="card-article-section2">
            <img src="<%= article.img_url %>" alt="article-img" srcset="">
            <h1><%= article.title %></h1>
            <h2><%= article.first_name + " " + article.last_name %></h2>
            <p><%= article.description %></p>
            <a href="details/<%= article.id %>">details</a>
          </li>
          <% }) %>

      </ul>
    </section>

  </main>
</body>

</html>
