<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/header') %>
  </header>
  <main class="main-detalis">
 <nav id="articleMain" >
   <div class="img">
   <img id="img_url" src="<%= article.img_url %>" alt="" >
  </div>
   <p id="description"><%= article.description %></p>

<% if(user) { %>
  <div id="likes-container" style="justify-content: center; margin-left: 30%;">
    <img class='icon' id="like" src="<%= !article.isclapped ? 'https://img.icons8.com/nolan/64/facebook-like.png' : 'https://img.icons8.com/nolan/64/thumbs-down.png' %>"/>
  </div>
  <% } %>

 </nav>

  </main>
</body>
</html>
