<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('../partials/head') %>
  <title>Home</title>
</head>

<body>
  <header>
    <%- include('../partials/header') %>
  </header>
  <main>
    <nav id="daily-image">
      <img src="../images/cover17.jpg" alt="" style="max-width: 100%;">
    </nav>
    <section class="home-body">

      <section class="article-preview">
        <% recentBooks.forEach((book) => { %>
      <div class="sub-article">
        <img src='<%= book.img_url %>' alt="">
          <h2><%= book.title %></h2>
          <a href='details/<%= book.id %>' >Show Detalis</a>
      </div>
      <% }); %>
      </section>

      <section class="card-article">
        <h1><%= mostBook ? mostBook.title : "no clapped books" %></h1>
        <hr>
        <img src="<%= mostBook ? mostBook.img_url : null %>" alt="" srcset="">
        <p><%= mostBook ? mostBook.description : null %></p>
        <h3><%= mostBook ? mostBook.author_first_name : null %>&nbsp<%=  mostBook ? mostBook.author_last_name : null %></h3>
        <a href='details/<%= mostBook ? mostBook.id : null %>' >Show Detalis</a>
      </section>


    </section>
  </main>





</body>

</html>
