<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('../partials/head') %>
  <title>Home</title>
</head>

<body>
  <header>
    <%- include('../partials/header') %>
  </header>
  <main>
    <nav id="daily-image">
      <img src="../images/cover17.jpg" alt="" style="max-width: 100%;">
    </nav>
    <section class="home-body">

      <section class="article-preview">

        <% recentBooks.forEach((book) => { %>
      <div class="sub-article">
        <img src="../images/cover.jpg" alt="" srcset="">
          <h2><%= book.title %></h2>
          <a href='detalis/<%= mostBook.id%>' >Show Detalis</a>
      </div>
      <% }); %>

      </section>

      <section class="card-article">
        <h1><%= mostBook.title %></h1>
        <hr>

        <img src="../images/cover.jpg" alt="" srcset="">
        <p><%= mostBook.description %></p>
        <h3><%= mostBook.author_first_name %>&nbsp<%= mostBook.author_last_name %></h3>
        <a href='detalis/<%= mostBook.id%>' >Show Detalis</a>
      </section>


    </section>
  </main>





</body>

</html>
