<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('../partials/head') %>
  <title>Home</title>
</head>

<body>
  <header>
    <%- include('../partials/header') %>
  </header>
  <main>
    <nav id="daily-image">
      <img src="../images/cover20.jpg" alt="" style="max-width: 100%;">
    </nav>
    <section class="home-body">

      <section class="article-preview">
        <% recentArticles.forEach((article) => { %>
      <div class="sub-article">
        <img src='<%= article.img_url %>' alt="">
          <h2><%= article.title %></h2>
          <a href='details/<%= article.id %>' >Show Detalis</a>
      </div>
      <% }); %>
      </section>

      <section class="card-article">
        <% if(mostArticle) { %>
          <section id="top-article-section">
            <div id="image-container">
              <img src="<%= mostArticle.img_url %>" alt="" srcset="">
            </div>
            <h1><%= mostArticle.title %></h1>
            <p><%= mostArticle.description %></p>
            <h3><%= mostArticle.author_first_name + " " + mostArticle.author_last_name %></h3>
            <a href='details/<%= mostArticle.id %>' >Show Detalis</a>
          </section>
          <% } else { %>
            <h1><%= "no clapped article" %></h1>
            <hr>
            <% }; %>
      </section>


    </section>
  </main>





</body>

</html>
